<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tutorial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="1.css">
  

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" href="#"><img src="images/logo.jpg" alt="Cache"></a>
    </div>
    
    
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
        <ul class="dropdown-menu">
      <li><a href="http://www.w3schools.com/">Web Development</a></li>
      <li><a href="http://www.how-to-build-websites.com/">Web Design</a></li>
      <li><a href="https://designschool.canva.com/tutorials/">Graphic Design</a></li>
      <li><a href="https://www.lynda.com/Branding-training-tutorials/2391-0.html">Branding</a></li>
    </ul>
    </li>
        <li class="gray"><a href="#">Portfolio</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sidebars<span class="caret"></span></a>
        <ul class="dropdown-menu">
      <li><a href="http://www.w3schools.com/html">Right Sidebar</a></li>
      <li><a href="http://www.w3schools.com/css">Left Sidebar</a></li>
      </ul>
      </li>
      <li class="color"><a href="#">Contact</a></li>
      <li><a href="#"></a></li>
  

        
      </ul>
    </div>
  </div>
</nav>
</div>
<br><br>
<div class="container">
<!--<div class="row">
  <div class="col-sm-8">-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img  class="img-responsive" src="Image/slider_1.jpg" alt="Slider" width="50" height="100" >
          <div class="carousel-caption">
            <h3>Graphic Design</h3>
            </div>
        </div>

        <div class="item">
        <img src="Image/slider_2.jpg" alt="Slider" width="50" height="100">
          <div class="carousel-caption">
            <h3>Web Design</h3>
            
          </div>
        </div>
        
        <div class="item">
          <img src="Image/slider_3.jpg" alt="Slider">
          <div class="carousel-caption">
            <h3>Web Development</h3>
            </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
</div>
<hr>
</div>

<div class="container text-center">
  <h1>About Us</h1>
  <br>
  <div class="row row-bottom-padded-sm">
    <div class="container text-center">
	<p class="1row">Template handcrafted by <a href="http://freehtml5.co/" target="_blank">FreeHTMl5.co</a> Lorem ipsum dolor sit amet,</p> <p class="row">consectetur adipisicing elit. Dolores explicabo quibusdam quae saepe non</p> <p class="row">quasi quaerat adipisci eum dignissimos similique!</p>	
</div>
  </div>
  <hr>
</div>

<div class="row row-bottom-padded-sm">
	<div class="col-md-8">
	<h2 class="div">History</h2>
	<p class="row1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, quaerat tenetur quos ad nostrum eaque esse, ex blanditiis deleniti accusantium molestias perferendis odio, iste cum. Hic eius, ullam repellendus. Possimus, ratione? Qui, tempora, eveniet! Eveniet facilis nesciunt commodi nostrum!</p>
	<br><p class="row1">Illum provident, rerum hic porro doloremque alias voluptatibus fugit aliquam aspernatur molestiae debitis fuga, expedita vel animi eius, ab natus in enim repellendus harum! Est atque quae aut? Sint quis expedita illo placeat ad saepe hic quidem dolore laboriosam? Sapiente.</p>
	<br><p class="row1">Similique sint consequuntur cum ea quia placeat aliquid blanditiis atque, et earum sit sequi. Earum dignissimos omnis, hic atque ducimus quibusdam eos, exercitationem cum ea ipsum, est animi nesciunt. Consequuntur molestias ratione asperiores sequi nam minima dignissimos voluptas consequatur nemo.</p>
	<br><p class="row1">Ut sit repellat id dignissimos excepturi recusandae reprehenderit eius, voluptatem et ab quos qui sequi rem sapiente, delectus numquam officiis. Maxime aliquam unde eum quo, sit qui voluptatum odio nam. Iste vitae, sed enim facilis suscipit quis obcaecati quas, nobis.</p>
	<br><p class="row1">Cupiditate commodi velit officia quidem dolores incidunt, deserunt nam quaerat aliquam labore iure quam. Exercitationem tempora itaque error odio quasi quas illo consequatur nisi debitis, aliquam magnam voluptas, quia, impedit, architecto fugit suscipit officia ullam laudantium sit libero excepturi deserunt.</p>
</div>
  
<div class="col-md-4" >
	<div class="container text-left">
		<img src="Image/slider_2.jpg" class="img-responsive" alt="Slider">
	<h2>Web Design</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ullam unde, totam harum laboriosam dolores.</p>
	<ul>
	<li>Lorem ipsum dolor sit amet</li>
	<li>Consectetur adipisicing elit</li>
	<li>Recusandae laboriosam eligendi maiores</li>
	<li>Sapiente repudiandae perspiciatis</li>
	</ul>
</div>
</div>

<div class="row row-bottom-padded-sm">
<div class="col-md-6">
<p><img src="Image/slider_3.jpg" alt="Slider" class="img-responsive"></p>
</div>
<div class="col-md-6">
	<h2 class="row2">Web Develpoment</h2>
	<p class="div1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
	<ul class="div1">
	<li>Lorem ipsum dolor sit amet</li>
	<li>Consectetur adipisicing elit</li>
	<li>Recusandae laboriosam eligendi maiores</li>
	<li>Sapiente repudiandae perspiciatis</li>
</ul>
</div>
</div>
<hr>
</div>

<footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row row-bottom-padded-sm">
					<div class="col-md-4 col-sm-12">
						<div class="fh5co-footer-widget">
							<h3>About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
						</div>
					</div>
					<div class="col-md-3 col-md-push-1 col-sm-12 col-sm-push-0">
						<div class="fh5co-footer-widget">
							<h3>Quick Links</h3>
							<ul class="fh5co-footer-link">
								<li><a href="#">Home</a></li>
								<li><a href="#">Free HTML5 Template</a></li>
								<li><a href="#">jQuery &amp; CSS3</a></li>
								<li><a href="#">Built with Sass</a></li>
							</ul>
						</div>
					</div>
				</div>

  <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <form>
    <div class="form-group">
	      <label for="name">Email Id:</label>
      <input type="name" ng-model="name" class="form-control" id="name" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" ng-model="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    
    <button type="submit"  value="Submit" class="btn btn-default">Submit</button>
  </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<a class='btn btn-primary btn' data-direction='top'>Register</a>

<a class='btn btn-primary btn' data-direction='left'>Like</a>

<a class='btn btn-primary btn' data-direction='right'>Share</a>

<a class='btn btn-primary btn' data-direction='bottom'>Subscribe</a>

				
				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-copyright">
							<br><p class="pull-left">&copy; 2016 Free Template. All Rights Reserved. </p>
							<p class="pull-right">Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
<script>
$('.btn').click(function() {
    $('.modal')
        .prop('class', 'modal fade') // revert to default
        .addClass( $(this).data('direction') );
    $('.modal').modal('show');
});
</script>

</body>
</html>
